.characters-list {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.05);
  padding-left: 4%;
}
.title {
  background-color: rgba(255, 255, 255, 0.15);
  padding-top: 2%;
  padding-bottom: 2%;
}
