.example-card {
  max-width: 400px;
  margin: 4%;
}

.example-header-image {
  background-image: url("https://img.freepik.com/premium-vector/rd-initial-lettering-logo-dr-initial-lettering-logo_959352-81.jpg");
  background-size: cover;
}

.spinner {
  align-self: center;
  justify-self: center;
}
